<div class="col-md-4">
    <h2>Accede</h2>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div><%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %></div>
    <div><%= f.label :password %><br />
        <%= f.password_field :password %></div>
        <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>
    <div><%= f.submit "Enviar" %></div>
  <% end %>
  <%= render "devise/shared/links" %>
 </div>
 <div class="col-md-8">
    <%= image_tag("gafete_tb.jpg", :alt => "logo.jpg") %>
    <h2 class="text-center">Estimados Participantes</h2>
    <p>Les damos la más cordial bienvenida al XIX Curso
      Actualización en el Diagnóstico y tratamiento de la Tuberculosis en el
      Niño y el Adulto del Centro Nacional de Programas Preventivos y Control de Enfermedades.
    </p>
    <h3 class="text-center">¡SEAN USTEDES BIENVENIDOS!</h3>
 </div>
