<h1>Mi registro al taller</h1>

<table class="table">
  <tr>
    <th>Nombre</th>
    <th>Apellido paterno</th>
    <th>Apellido materno</th>
    <th>Email</th>
    <th>RFC</th>
    <th>País de origen</th>
    <th>Profesión</th>
    <th>Posgrado</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @registros.each do |registro| %>
  <tr>
    <td><%= registro.nombre %></td>
    <td><%= registro.apellido_paterno %></td>
    <td><%= registro.apellido_materno %></td>
    <td><%= registro.email %></td>
    <td><%= registro.rfc %></td>
    <td><%= Nationality.select("nationality").where("id = ?", registro.nationality_id).to_a.map(&:nationality).join("") %></td>
    <td><%= Profession.select("profession").where("id=?", registro.profession_id).to_a.map(&:profession).join("") %></td>
    <td><%= Posgrado.select("posgrado").where("id=?", registro.posgrado_id).to_a.map(&:posgrado).join("") %></td>



<% if   can? :view_all, @user %>
    <td><%= link_to 'Mostrar', registro %></td>
    <td><%= link_to 'Editar', edit_registro_path(registro) %></td>
    <td><%= link_to 'Eliminar', registro, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
<%else%>
    <td><%= link_to 'Mostrar', registro %></td>
<%end%>
  </tr>
<% end %>
</table>

<br />

<% if   can? :view_all, @user %>
    <%= link_to 'Agrega tu registro', new_registro_path %>
<%else%>
    <% if @registros.blank? %>
    <%= link_to 'Agrega tu registro', new_registro_path %>
    <%else%>
    <p>Gracias por tu registro</p>
    <%end%>
<%end%>


<div class="row">
  <div class="md-col-12">
    <h2>Instrucciones para inscripción:</h2>
  	<h3>Estimado Participante:</h3>

<p>Con la finalidad de brindarte mayor comodidad, la inscripción para este curso será EXCLUSIVAMENTE VIA INTERNET.  Para poder inscribirte deberás realizar previamente el donativo de $500.00 a la siguiente cuenta
Banamex: sucursal 233, cuenta 1439889, a nombre de Comité Nacional de Lucha Contra la Tuberculosis.</p>
<ul>
  <li>1.-Debe contar con comprobante de depósito para realizar el proceso de registro.</li>
  <li>2.-Ingrese los datos que se solicitan y tome en cuenta que  aparecerán en su constancia de participación (con valor curricular), tal y como los ingrese al sistema.</li>
  <li><p class="text-center">
    <%= image_tag("voucher.jpg",size:"441x541", :alt => "logo.jpg") %>
  </p></li>
  <li>3.-Los talleres tienen cupo limitado, así se sugiere realice su inscripción lo antes posible.</li>
  <li>4.- Después de dar click en “enviar datos” deberá descargar e imprimir el formato de inscripción del Hospital General México con sus datos y el gafete que le permitirá el acceso al Hospital (no podrás accesar sin él).
El primer día del evento deberá entregar el formato de registro con sus datos,  firmado y una fotocopia de éste, junto con la ficha de depósito, los cuales podrá canjear por su paquete de material didáctico</li>
</ul>

<p>Si tiene alguna duda por favor escribe a: micobacnal@gmail.com</p>
  </div>
</div>
